.footer {
  @include breakpoint(small) {
    margin-top: $global-margin;
    padding: $global-padding 0;
  }

  .manage-history {
    float: right;
  }

  li {
    hr {
      width: 50%;
      margin: ($global-margin) 0;
    }
  }
}

.recently-viewed {
  margin-bottom: $global-margin;

  .cover {
    @include cover-image;
    @include breakpoint(medium) {
      margin-right: $global-margin;
    }
  }
}
