.cover-photo {
  position: relative;

  height: 200px;
  @include breakpoint(medium) {
    height: 350px;
  }
  @include breakpoint(large) {
    height: 500px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .photo-meta {
    position: absolute;
    z-index: 10;
    @include breakpoint(medium) {
      bottom: 0;
      margin-bottom: 10px;
    }

    p {
      margin: 0;
    }
  }
}
