.footer {
  @include breakpoint(small) {
    margin-top: $global-margin;
    padding: $global-padding 0;
  }

  .manage-history {
    float: right;
  }

  .apps,
  .social {
    a {
      @include breakpoint(small) {
        display: block;
        width: 100%;
        margin: 0 auto $global-margin * 2;
      }
      @include breakpoint(large) {
        display: inline-block;
      }
    }

    img {
      display: block;
      margin: auto;
      @include breakpoint(medium) {
        margin: initial;
      }
    }
  }

  .social {
    a {
      width: auto;
      @include breakpoint(large) {
        margin-right: $global-margin * 2;
      }
    }

    img {
      width: 50px;
      @include breakpoint(medium) {
        margin: auto;
      }
    }
  }

  .site-map {
    .columns {
      padding: 0;
    }
  }

  li {
    hr {
      width: 50%;
      margin: ($global-margin) 0;
    }
  }
}

.recently-viewed {
  margin-bottom: $global-margin;

  .cover {
    @include cover-image;
    @include breakpoint(medium) {
      margin-right: $global-margin;
    }
  }
}
