.footer {
  background-color: $light-gray;

  a {
    color: $black;
    text-decoration: underline;
    font-size: $global-font-size * .8;

    &:hover {
      color: $dark-gray;
    }
  }

  li {
    hr {
      border-color: $dark-gray;
    }
  }

  .manage-history {}
}
