.cover-photo {
  background-image: url('../img/bg-medium@2x.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint(medium) {
    background-image: url('../img/bg-large@2x.jpg');
    background-position: left;
  }
  @include breakpoint(large) {
    background-image: url('../img/bg-xlarge@2x.jpg');
  }

  .overlay {
    background-color: rgba(0, 0, 0, .45);
    border-bottom: 5px solid $primary-color;
  }

  .photo-meta {
    color: $white;
    font-size: $global-font-size * .6;
    text-align: center;
    @include breakpoint(medium) {
      text-align: left;
    }
  }
}

.profile-top-content {
  text-align: center;
  @include breakpoint(medium) {
    text-align: left;
  }

  .profile-picture {
    background-color: $black;
    background-image: url('../img/profile@2x.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid $black;
  }

  .user-name {
    font-weight: bold;
  }

  .member-since {
    font-size: $global-font-size * .8;
  }
}

.top-statistics {
  text-align: center;

  .number {
    font-weight: bold;
  }
}
