.main-menu.title-bar(data-responsive-toggle="main-menu" data-hide-for="large")
  .row
    .small-12.columns
      .title-bar-title
        img(src="img/imdb.svg")
      button.menu-icon(type="button" data-toggle="main-menu")


.main-menu.top-bar#main-menu
  .row
    .small-12.columns
      .top-bar-left
        img(src="img/imdb.svg").show-for-large
        .input-group
          input.input-group-field.input-search(type="search" placeholder="type to search")
          .input-group-button
            input.button(type="submit" value="Search")

        ul.menu.vertical.medium-horizontal
          - var mainMenuItems = ["Movies, TV & Showtimes", "Celebs, Events & Photos", "News & Community", "Watchlist (33)"]
          for item in mainMenuItems
            li
              a(href="#")= item

      .top-bar-right
        a(src="#") IMDB Pro
        a.active(src="#") My Account
