.main-menu.top-bar
  .row
    .small-12.columns
      .top-bar-title
        img(src="img/imdb.svg")
      .top-bar-left
        ul.menu.main-search
          li
            input.input-search(type="search" placeholder="Search")
          li
            button.button-search(type="button" class="button small") Search
      .top-bar-right
        p IMDB Pro
