//- User page menu
.row
  .small-12.columns
    .title-bar.user-menu-bar(data-responsive-toggle="user-menu" data-hide-for="medium")
      .title-bar-title User Menu
      button.menu-icon(type="button" data-toggle="example-menu")
    .menu-centered
      ul#user-menu.vertical.medium-horizontal.menu.user-menu
        li.active
          a(href="#") Your Ratings
        li
          a(href="#") Your Watchlist
        li
          a(href="#") Your Lists
        li
          a(href="#") Your Reviews
        li
          a(href="#") Your Forum Posts
