.main-user-content {
  @include breakpoint(small only) {
    margin-top: $global-margin;
  }
}

.move-card-container {
  position: relative;

  $cover-width-small: rem-calc(70px);
  $cover-width-medium: rem-calc(100px);
  $cover-width-large: rem-calc(140px);
  @include breakpoint(small) {
    padding-bottom: $global-margin;
    margin-bottom: $global-margin;
  }
  @include breakpoint(medium) {
    padding-bottom: $global-margin * 2;
    margin-bottom: $global-margin * 2;

    &:last-child {
      margin-bottom: 0;
    }
  }
  // @include breakpoint(large){}

  .cover {
    @include cover-image;
  }

  .wrapper {
    @include breakpoint(small) {
      padding: 0;
    }
    @include breakpoint(medium) {
      $padding: $cover-width-medium + $global-padding;
      padding: 0 0 0 $padding;
    }
    @include breakpoint(large) {
      $padding: $cover-width-large + $global-padding;
      padding: 0 0 0 $padding;
    }

  }

  .title {
    margin-bottom: 0;
  }

  .star-vote {
    margin: ($global-margin * .5) 0;

    .stars {
      margin-right: 5px;
      float: left;
    }

    .score {
      margin-bottom: 0;
    }
  }

  .year-type {
    margin-bottom: 0;
  }

  .cast-and-crew {
    margin-bottom: $global-margin;

    p {
      margin-bottom: 0;
    }
  }

  .add-to-watchlist {
    display: block;
    margin: 0 auto;
    @include breakpoint(medium) {
      margin: 0 0 $global-margin;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.user-pager {
  height: 100%;
  margin-bottom: $global-margin;

  p {
    float: left;
    width: 55%;
  }

  a {
    @include breakpoint(small only) {
      float: right;
    }
    display: inline-block;
    padding-left: $global-padding * 2;

    img {
      margin: 4px 0 6px $global-margin / 2;
      display: inline-block;
      height: 100%;
    }
  }
}
