.quick-links {
  a {
    color: $black;
    text-decoration: underline;

    &:hover {
      color: $primary-color;
    }
  }
}

.rating-column-container {
  .rating-column {
    background-color: $primary-color;
  }

  .rating-value {
    text-align: center;
  }
}

.top-20 {
  font-size: $global-font-size * .8;

  .heading {
    font-weight: bold;
  }

  .av-rating {
    text-align: right;
  }

  .bar {
    .background {
      background-color: $primary-color;
    }

    p {
      line-height: 100%;
    }
  }
}
