mixin movie-card
  .move-card-container
    .cover
    .wrapper
      h4.title 1. Breaking Bad
      p.year-type 2008 TV Series
      .star-vote
        .stars
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
          img(src="img/star-filled.svg" alt="Filled Star")
        p.score (10/10)
      p.synopsis A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine, with his former student, in order to secure his family's financial future.
      .cast-and-crew
        .row.collapse
          .small-4.medium-3.large-2.columns
            p Director:
          .small-8.medium-9.large-10.columns
            a(href="#") Vince Gilligan
          .small-4.medium-3.large-2.columns
            p Starring:
          .small-8.medium-9.large-10.columns
            a(href="#") Bryan Cranston
            a(href="#") Aaron Paul
            a(href="#") Anna Gunn
            a(href="#") Betsy Brandt

      a.button.primary.small.add-to-watchlist + Add to Watchlist
