include _mixins

doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title IMDB Redesign
    link(rel="stylesheet" href="css/app.css")

  body
    .cover-photo
      .overlay
      .row
        .small-12.columns
          .photo-meta
            p Interstellar (2014) | Rating: 8.6 / 10.0 (883 175)

    .row.profile-top-content
      .small-12.medium-4.medium-push-8.columns
        .profile-picture
      .small-12.medium-8.medium-pull-4.columns
        .name-wrapper
          h1.user-name John Appleseed
          p.member-since Member since March 2005

    .row.top-statistics
      .small-6.medium-3.columns
        h2.number 735
        p.text Ratings
      .small-6.medium-3.columns
        h2.number 10
        p.text Lists
      .small-6.medium-3.columns
        h2.number 46
        p.text Reviews
      .small-6.medium-3.columns
        h2.number 234
        p.text Forum Posts

    //- User page menu
    .row
      .small-12.columns
        .title-bar(data-responsive-toggle="user-menu" data-hide-for="medium").user-menu-bar
          button.menu-icon(type="button" data-toggle="example-menu")
          .title-bar-title User Menu
        .menu-centered
          ul#user-menu.vertical.medium-horizontal.menu.user-menu
            li.active
              a(href="#") Your Ratings
            li
              a(href="#") Your Watchlist
            li
              a(href="#") Your Lists
            li
              a(href="#") Your Reviews
            li
              a(href="#") Your Forum Posts

    .row
      //- User main content
      .small-12.medium-9.columns.main-user-content
        +movie-card("breaking-bad.jpg", '1. Breaking Bad', '2008 TV Series', 10, "A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine, with his former student, in order to secure his family's financial future.", "Vince Gilligan", ["Bryan Cranston", "Aaron Paul", "Anna Gunn", "Betsy Brandt"])

        +movie-card("interstellar-poster.jpg", '2. Interstellar', '2014', 9, "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.", "Christopher Nolan", ["Matthew McConaughey", "Anne Hathaway", "Jessica Chastain"])

        +movie-card("bob-poster.jpg", '3. Band of Brothers', '2001 Mini-Series', 10, "The story of Easy Company of the US Army 101st Airborne division and their mission in WWII Europe from Operation Overlord through V-J Day.", "Vince Gilligan", ["Scott Grimes", "Damian Lewis", "Ron Livingston", "Shane Taylor"])

        +movie-card("newsroom-poster.jpg", '4. The Newsroom', '2012 TV Series', 10, "A newsroom undergoes some changes in its workings and morals as a new team is brought in, bringing unexpected results for its existing news anchor.", "Christopher Nolan", ["Jeff Daniels", "Emily Mortimer", "John Gallagher Jr.", "Alison Pill"])

        +movie-card("lost-in-translation-poster.jpg", '5. Lost in Translation', '2003', 8, "A faded movie star and a neglected young woman form an unlikely bond after crossing paths in Tokyo.", "Sofia Coppola", ["Bill Murray", "Scarlett Johansson", "Giovanni Ribisi", "Anna Faris"])

        +movie-card("guide-to-recognizing-your-saints-poster.jpg", '6. A Guide to Recognizing your Saints', '2006', 7, "The movie is a coming-of-age drama about a boy growing up in Astoria, N.Y., during the 1980s.", "Dito Montiel", ["Robert Downey Jr.", "Rosario Dawson", "Shia LaBeouf", "Dianne Wiest"])

      //- User Sidebar
      .small-12.medium-3.columns.user-sidebar
        .small-12.columns.quick-links
          h4 Quick Links
          ul.no-bullet
            - var links = ["Check Ins", "Boards Profile", "Recently Viewed", "About This Page", "Export This List"]
            each link in links
              li
                a(href="#")= link

        .small-12.columns.rating-statistics
          h4 Rating Statistics
          .row.collapse
            .small-12.columns
              h5 Rating Distribution
              .distribution-container
                +rating-column(1, 2)
                +rating-column(2, 4)
                +rating-column(3, 6)
                +rating-column(4, 22)
                +rating-column(5, 31)
                +rating-column(6, 52)
                +rating-column(7, 62)
                +rating-column(8, 43)
                +rating-column(9, 17)
                +rating-column(10, 2)

            .small-12.columns
              h5 Number of Ratings per Year
              .ratings-by-year
                .year-container
                  +rating-column('', 29)
                  +rating-column('', 22)
                  +rating-column('', 17)
                  +rating-column('', 29)
                  +rating-column('', 82)
                  +rating-column('', 57)
                  +rating-column('', 43)
                  +rating-column('', 49)
                  +rating-column('', 57)
                  +rating-column('', 72)
                  +rating-column('', 62)
                p.start-year 2005
                p.end-year 2016


            .small-12.columns
              h5 Top 20 Genres
              .top-20.genres
                .headings.clearfix
                  p.no-ratings.heading No. Ratings
                  p.label.heading Genre
                  p.av-rating.heading Av. Rating

                +ratings-bar(362, 14, 'Documentary', '7.79')
                +ratings-bar(362, 59, 'Biography', '7.36')
                +ratings-bar(362, 362, 'Drama', '7.01')
                +ratings-bar(362, 28, 'Sport', '6.93')
                +ratings-bar(362, 42, 'History', '6.90')
                +ratings-bar(362, 48, 'War', '6.83')
                +ratings-bar(362, 11, 'Musical', '6.64')
                +ratings-bar(362, 45, 'Animation', '6.51')
                +ratings-bar(362, 79, 'Mystery', '6.47')
                +ratings-bar(362, 143, 'Crime', '6.45')
                +ratings-bar(362, 82, 'Romance', '6.33')
                +ratings-bar(362, 62, 'Family', '6.27')
                +ratings-bar(362, 175, 'Comedy', '6.19')
                +ratings-bar(362, 238, 'Adventure', '6.10')
                +ratings-bar(362, 13, 'Music', '6.08')
                +ratings-bar(362, 255, 'Thriller', '6.07')
                +ratings-bar(362, 156, 'Sci-Fi', '6.06')
                +ratings-bar(362, 98, 'Fantsy', '6.03')
                +ratings-bar(362, 283, 'Action', '5.73')
                +ratings-bar(362, 32, 'Horror', '5.47')

            .small-12.columns
              h5 Top 20 Years
              .top-20.years
                .headings.clearfix
                  p.no-ratings.heading No. Ratings
                  p.label.heading Year
                  p.av-rating.heading Av. Rating

                +ratings-bar(58, 2, 'Documentary', '7.79')
                +ratings-bar(58, 2, 'Biography', '7.36')
                +ratings-bar(58, 22, 'Drama', '7.01')
                +ratings-bar(58, 2, 'Sport', '6.93')
                +ratings-bar(58, 2, 'History', '6.90')
                +ratings-bar(58, 2, 'War', '6.83')
                +ratings-bar(58, 2, 'Musical', '6.64')
                +ratings-bar(58, 2, 'Animation', '6.51')
                +ratings-bar(58, 2, 'Mystery', '6.47')
                +ratings-bar(58, 23, 'Crime', '6.45')
                +ratings-bar(58, 2, 'Romance', '6.33')
                +ratings-bar(58, 2, 'Family', '6.27')
                +ratings-bar(58, 25, 'Comedy', '6.19')
                +ratings-bar(58, 28, 'Adventure', '6.10')
                +ratings-bar(58, 2, 'Music', '6.08')
                +ratings-bar(58, 25, 'Thriller', '6.07')
                +ratings-bar(58, 26, 'Sci-Fi', '6.06')
                +ratings-bar(58, 2, 'Fantsy', '6.03')
                +ratings-bar(58, 23, 'Action', '5.73')
                +ratings-bar(58, 2, 'Horror', '5.47')

    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/dist/what-input.js")
    script(src="bower_components/foundation-sites/dist/js/foundation.js")
    script(src="js/min/app-min.js")
