doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title IMDB Redesign
    link(rel="stylesheet" href="css/app.css")

  body
    .cover-photo
      .overlay
      .row
        .small-12.columns
          .photo-meta
            p Interstellar (2014) | Rating: 8.6 / 10.0 (883 175)

    .row.profile-content
      .small-12.columns
        .profile-picture
      .small-12.columns
        h2.user-name John Appleseed
