doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title IMDB Redesign
    link(rel="stylesheet" href="css/app.css")

  body
    .cover-photo
      .overlay
      .row
        .small-12.columns
          .photo-meta
            p Interstellar (2014) | Rating: 8.6 / 10.0 (883 175)

    .row.profile-top-content
      .small-12.medium-4.medium-push-8.columns
        .profile-picture
      .small-12.medium-8.medium-pull-4.columns
        .name-wrapper
          h1.user-name John Appleseed
          p.member-since Member since March 2005

    .row.top-statistics
      .small-6.medium-3.columns
        h2.number 735
        p.text Ratings
      .small-6.medium-3.columns
        h2.number 10
        p.text Lists
      .small-6.medium-3.columns
        h2.number 46
        p.text Reviews
      .small-6.medium-3.columns
        h2.number 234
        p.text Forum Posts

    //- User page menu
    .row
      .small-12.columns
        .title-bar(data-responsive-toggle="user-menu" data-hide-for="medium").user-menu-bar
          button.menu-icon(type="button" data-toggle="example-menu")
          .title-bar-title User Menu
        .menu-centered
          ul#user-menu.vertical.medium-horizontal.menu.user-menu
            li.active
              a(href="#") Your Ratings
            li
              a(href="#") Your Watchlist
            li
              a(href="#") Your Lists
            li
              a(href="#") Your Reviews
            li
              a(href="#") Your Forum Posts

    .row
      //- User main content
      .small-12.medium-9.columns.main-user-content
        .move-card-container
          .cover
          .wrapper
            h4.title 1. Breaking Bad
            p.year-type 2008 TV Series
            .star-vote
              .stars
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
                img(src="img/star-filled.svg" alt="Filled Star")
              p.score (10/10)
            p.synopsis A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine, with his former student, in order to secure his family's financial future.
            .cast-and-crew
              .row.collapse
                .small-4.medium-3.large-2.columns
                  p Director:
                .small-8.medium-9.large-10.columns
                  a(href="#") Vince Gilligan
                .small-4.medium-3.large-2.columns
                  p Starring:
                .small-8.medium-9.large-10.columns
                  a(href="#") Bryan Cranston
                  a(href="#") Aaron Paul
                  a(href="#") Anna Gunn
                  a(href="#") Betsy Brandt

            a.button.primary.small.add-to-watchlist + Add to Watchlist

      //- User Sidebar
      .small-12.medium-3.columns.user-sidebar
        h2 Sidebar

    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/dist/what-input.js")
    script(src="bower_components/foundation-sites/dist/js/foundation.js")
    script(src="js/min/app-min.js")
