.main-menu {
  &.title-bar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }

  .title-bar-title {
    img {
      width: 50%;
    }
  }

  .menu-icon {
    float: right;
  }

  &.top-bar {
    position: fixed;
    top: $global-margin * 2 + rem-calc(30px);
    z-index: 1000;
    width: 100%;
    padding: 0 0 $global-padding;
    @include breakpoint(large) {
      top: 0;
      padding: $global-padding 0;
    }
  }

  .top-bar-title {
    @include breakpoint(small) {
      margin-bottom: $global-margin;
      width: 35%;
    }
  }

  .top-bar-left {
    @include breakpoint(large) {
      width: 80%;
    }

    img {
      @include breakpoint(large) {
        float: left;
        margin: $global-margin ($global-margin * 4) $global-margin 0;
      }
    }

    .input-group {
      margin: $global-margin 0;
      @include breakpoint(medium) {
        width: 65%;
        margin: 0 auto;
      }
      @include breakpoint(large) {
        float: left;
        width: 50%;
        margin-bottom: $global-margin;
      }
    }

    input {
      max-width: none;
    }

    .button {
      margin-right: 0;
    }

    ul {
      margin: $global-margin 0;
      @include breakpoint(large) {
        margin: 0;
      }
    }

    a {
      @include breakpoint(large) {
        padding: 0 ($global-padding * 2) 0 0;
      }
    }
  }

  .top-bar-right {
    @include breakpoint(medium) {
      margin: 0 auto;
      float: none;
      width: auto;
    }
    @include breakpoint(large) {
      float: right;
      // width: 20%;
    }

    a {
      display: block;
      float: left;
      padding: ($global-padding / 2) 0;
      width: 50%;
      @include breakpoint(large) {
        width: auto;
        float: none;
      }

      &:first-child {
        @include breakpoint(large) {
          // margin-bottom: $global-margin;
        }
      }
    }
  }
}
