.main-menu {
  .title-bar-title {
    img {
      width: 50%;
    }
  }

  .menu-icon {
    float: right;
  }

  &.top-bar {
    padding: 0 0 $global-padding;
  }

  .top-bar-title {
    @include breakpoint(small) {
      margin-bottom: $global-margin;
      width: 35%;
    }
  }

  .top-bar-left {
    @include breakpoint(small) {
      width: 100%;
    }

    .input-group {
      margin: $global-margin 0;
    }

    input {
      max-width: none;
    }

    .button {
      margin-right: 0;
    }

    ul {
      margin: $global-margin 0;
    }

    li {
      @include breakpoint(small) {
        text-align: center;
      }
    }
  }

  .top-bar-right {
    a {
      display: block;
      float: left;
      padding: ($global-padding / 2) 0;
      width: 50%;
      text-align: center;
      border-bottom: 2px solid $black;

      &.active {
        border-bottom-color: $primary-color;
      }
    }
  }

  .main-search {
    background-color: transparent;
  }
}
