.main-menu {
  .title-bar-title {
    img {
      width: 50%;
    }
  }

  .menu-icon {
    float: right;
  }

  &.top-bar {
    padding: 0 0 $global-padding;
    @include breakpoint(large) {
      padding: $global-padding 0;
    }
  }

  .top-bar-title {
    @include breakpoint(small) {
      margin-bottom: $global-margin;
      width: 35%;
    }
  }

  .top-bar-left {
    .input-group {
      margin: $global-margin 0;
      @include breakpoint(medium) {
        width: 65%;
        margin: 0 auto;
      }
    }

    input {
      max-width: none;
    }

    .button {
      margin-right: 0;
    }

    ul {
      margin: $global-margin 0;
    }
  }

  .top-bar-right {
    @include breakpoint(medium) {
      margin: 0 auto;
      float: none;
      width: auto;
    }

    a {
      display: block;
      float: left;
      padding: ($global-padding / 2) 0;
      width: 50%;
      @include breakpoint(medium) {
        // margin: 0 $global-margin;
      }
    }
  }
}
