.main-menu {
  .top-bar-right {
    a {
      text-align: center;
      border-bottom: 2px solid $black;

      &.active {
        border-bottom-color: $primary-color;
      }
    }
  }

  li {
    @include breakpoint(small) {
      text-align: center;
    }
    @include breakpoint(large) {
      text-align: left;
    }
  }

  .main-search {
    background-color: transparent;
  }
}
